.my-form {
    padding-right: 30px;
}

.title {
    font-size: larger;
}

.brand {
    padding-left: 20px;
    align-items: center;
}

.icon {
    height: 30px;
    width: 30px;
}

.my-table-style {
    width: 99%;
}

.td {
    padding: 0;
}

.input {
    background-color: transparent;
    text-align: center;
    color: white;
    border: none;
    position: relative;
    top: 2px;
}

.fileInput {
    width: 80px;
    position: relative;
    top: -2px;
    display: inline;
    font-size: 11px;
    border-radius: 10px;
}

.input:read-write {
    background-color: rgb(57, 55, 78);
    border: 1px solid snow;
    border-radius: 10px;
}

.imgClass {
    width: 40px;
    height: 40px;
}

.inputSearch {
    background-color: transparent;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    border: none;
}

.inputSearch:focus {
    outline: none;
}

.searchForm {
    display: flex;
    height: 30px;
    margin-right: 10px;
    border: 1px solid white;
}

.searchSelect {
    border: none;
    background-color: transparent;
    color: white;
}

.searchSelect:focus {
    outline: none;
}

.selectOption {
    background-color: transparent;
    color: black;
}